{% extends "tube/base.html" %}
{% load humanize %}
{% load static %}
{% load param_change %}

{% block main %}

{% block extra_head %}
{{ block.super }}
{% endblock %}



{% block page_title %}{% endblock %}


{% include "tube/search_form.html" %}


    {% if recommends %}
    <h2>おすすめ</h2>

    <div class="video_content_list">

        <div class="video_content">
            <a class="video_content_link" href="">
                <img class="video_thumbnail" src="{% static 'tube/img/no-img.png' %}" alt="動画タイトル">
                <div class="video_title">タイトル</div>
            </a>
        </div>

    </div>
    {% endif %}


    <h2>新着動画</h2>
    <div class="video_content_list">

        {% for latest in latests %}
        <div class="video_content">
            <a class="video_content_link" href="{% url 'tube:single' latest.id %}">
                {% if latest.thumbnail %}
                <img class="video_thumbnail" src="{{ latest.thumbnail.url }}" alt="{{ latest.title }}">
                {% else %}
                <img class="video_thumbnail" src="{% static 'tube/img/no-img.png' %}" alt="{{ latest.title }}">
                {% endif %}
            </a>


            <div class="index_video_content_inner">
                <div class="index_video_content_inner_left">
                    {% if latest.user.usericon %}
                    <a href="{% url 'tube:usersingle' latest.user.id %}"><img class="index_usericon" src="{{ latest.user.usericon.url }}" alt="icon"></a>
                    {% else %}
                    <a href="{% url 'tube:usersingle' latest.user.id %}"><img class="index_usericon" src="{% static 'tube/img/non_usericon.png' %}" alt="{{ icon }}"></a>
                    {% endif %}
                </div>

                <div class="index_video_content_inner_right">
                    <a href="{% url 'tube:single' latest.id %}">
                        <div class="video_title">{{ latest.title }}</div>
                    </a>
                    <a href="{% url 'tube:usersingle' latest.user.id %}"><div>{{ latest.user.handle_name }} </div></a>
                    <div class="video_value">
                        <span class="v_value_span"><i class="far fa-play-circle"></i>{{ latest.views|intcomma }}</span>
                        <span class="v_value_span"><i class="far fa-comment"></i>{{ latest.num_comments }}</span>
                        <span class="v_value_span"><i class="far fa-list-alt"></i>{{ latest.num_mylists }}</span>
                    </div>
                    <div>{{ latest.dt|date:"Y年m月d日" }}</div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="video_content">動画がありません</div>
        {% endfor %}
    </div>


    {% if histories %}
    <h2>もう一度見る</h2>

    <div class="video_content_list">

        {% for history in histories %}
        <div class="video_content">
            <a class="video_content_link" href="{% url 'tube:single' history.id %}">
                {% if history.thumbnail %}
                <img class="video_thumbnail" src="{{ history.thumbnail.url }}" alt="{{ history.title }}">
                {% else %}
                <img class="video_thumbnail" src="{% static 'tube/img/no-img.png' %}" alt="{{ history.title }}">
                {% endif %}
            </a>

            <div class="index_video_content_inner">
                <div class="index_video_content_inner_left">
                    {% if history.user.usericon %}
                    <a href="{% url 'tube:usersingle' history.user.id %}"><img class="index_usericon" src="{{ history.user.usericon.url }}" alt="icon"></a>
                    {% else %}
                    <a href="{% url 'tube:usersingle' history.user.id %}"><img class="index_usericon" src="{% static 'tube/img/non_usericon.png' %}" alt="{{ icon }}"></a>
                    {% endif %}
                </div>

                <div class="index_video_content_inner_right">
                    <a href="{% url 'tube:single' history.id %}"><div class="video_title">{{ history.title }}</div></a>
                    <a href="{% url 'tube:usersingle' history.user.id %}"><div>{{ history.user.handle_name }} </div></a>
                    <div class="video_value">
                        <span class="v_value_span"><i class="far fa-play-circle"></i>{{ history.views|intcomma }}</span>
                        <span class="v_value_span"><i class="far fa-comment"></i>{{ history.num_comments }}</span>
                        <span class="v_value_span"><i class="far fa-list-alt"></i>{{ history.num_mylists }}</span>
                    </div>
                    <div>{{ history.dt|date:"Y年m月d日" }}</div>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>
    {% endif %}


    {% if ranks %}
    <h2>総合ランキング</h2>

    <div class="video_content_list">
        <div class="video_content">
            <a class="video_content_link" href="">
                <img class="video_thumbnail" src="{% static 'tube/img/no-img.png' %}" alt="動画タイトル">
                <div class="video_title">タイトル</div>
            </a>
        </div>
    </div>
    {% endif %}

    {% if follows %}
    <h2>フォローユーザーの新着動画</h2>

    <div class="video_content_list">

        {% for follow in follows %}
        <div class="video_content">
            <a class="video_content_link" href="{% url 'tube:single' follow.id %}">
                {% if follow.thumbnail %}
                <img class="video_thumbnail" src="{{ follow.thumbnail.url }}" alt="{{ follow.title }}">
                {% else %}
                <img class="video_thumbnail" src="{% static 'tube/img/no-img.png' %}" alt="{{ follow.title }}">
                {% endif %}
            </a>

            <div class="index_video_content_inner">
                <div class="index_video_content_inner_left">
                    {% if follow.user.usericon %}
                    <a href="{% url 'tube:usersingle' follow.user.id %}"><img class="index_usericon" src="{{ follow.user.usericon.url }}" alt="icon"></a>
                    {% else %}
                    <a href="{% url 'tube:usersingle' follow.user.id %}"><img class="index_usericon" src="{% static 'tube/img/non_usericon.png' %}" alt="{{ icon }}"></a>
                    {% endif %}
                </div>

                <div class="index_video_content_inner_right">
                    <a href="{% url 'tube:single' follow.id %}"><div class="video_title">{{ follow.title }}</div></a>
                    <a href="{% url 'tube:usersingle' follow.user.id %}"><div>{{ follow.user.handle_name }}</div></a>
                        <div class="video_value">
                            <span class="v_value_span"><i class="far fa-play-circle"></i>{{ follow.views|intcomma }}</span>
                            <span class="v_value_span"><i class="far fa-comment"></i>{{ follow.num_comments }}</span>
                            <span class="v_value_span"><i class="far fa-list-alt"></i>{{ follow.num_mylists }}</span>
                        </div>
                        <div>{{ follow.dt|date:"Y年m月d日" }}</div>
                </div>
            </div>

        </div>
        {% empty %}
        <div class="video_content">動画がありません</div>
        {% endfor %}

    </div>
    {% endif %}


{% endblock %}

